@import "./abstracts/variables";
@import "./components/banner";
@import "./components//button";
@import "./components/services";
@import "./components/foundation";
@import "./base/base";

.navigation {
    height: 100px;
}

.our-services,
.our-projects {
    margin-top: 6rem;

    .container {
        h1 {
            font-size: 4rem;
            color: $color-text-primary;
            margin-bottom: 2rem;
        }

        .horizontal-line {
            width: 80px;
            background-color: $color-text-primary;
            height: 5px;
            margin: auto;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 4rem;
        }
    }
}

.who-we-are {
    .background {
        padding: 8rem 0;
        width: 100vw;
        background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url("./../assets/images/banner_image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

    .container {
        h3 {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }

        h1 {
            font-size: 4rem;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1.3rem;
        }
    }

    .horizontal-line {
        width: 80px;
        background-color: $color-text-primary;
        height: 10px;
        margin-bottom: 1rem;
    }
}

.project-main {
    width: 100%;
    .card {
        &-text {
            text-align: left;
        }

        &-link {
            font-size: 1rem;
            color: $color-secondary;
            float: left;
            text-decoration: none;
            // margin-left: ;
        }
    }
}

.img-sub-second {
    height: 350px;
    width: 100%;
    background: url("../assets/images/Rectangle 19.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-last {
        background: url("../assets/images/Rectangle 20.png");
    }
}
.project-sub {
    width: 100%;
    height: 100%;
    // border-radius: $color-tertiary 3px solid;

    .card {
        overflow: hidden;
        height: 350px;
        &-text {
            text-align: left;
        }

        &-link {
            font-size: 1rem;
            color: $color-secondary;
            float: left;
            text-decoration: none;
            // margin-left: ;
        }
    }

    .sub-paragraph {
        width: 50%;
    }
}

.our-training {
    &-card {
        // height: 500px;
    }

    .background-primary {
        background-color: $color-text-primary;
    }
    .our-training-image {
        width: 105%;
        // height: 500px;
    }

    .background-wind {
        background: url("../assets/images/wind-power.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .details-box {
        display: inline-block;
        height: auto;
        margin: 3rem 4rem;
        padding-right: 7rem;

        .horizontal-line {
            width: 80px;
            background-color: $color-white;
            height: 5px;
        }

        h3 {
            font-size: 2rem;
        }

        h1 {
            font-size: 3vw;
            // margin-bottom: 1.5rem;
        }

        p {
            font-size: 1.3rem;
        }
    }
}

.foundation {
    .main-heading {
        font-size: 3rem;
        color: $color-text-primary;
    }
    .horizontal-line-main {
        width: 80px;
        background-color: $color-text-primary;
        height: 5px;
        margin: auto;
        margin-bottom: 1rem;
    }
}

.what-our-client-say {
    background-color: #f4f5f5;
    color: $color-text-primary;

    .background-image-client {
        background: url("../assets/images/client.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .content-box {
        padding-top: 8rem;
        width: 70%;

        .sub-heading {
            font-size: 2rem;
            color: $color-text-primary;
        }
    }

    .horizontal-line-main {
        width: 80px;
        background-color: $color-text-primary;
        height: 5px;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .name {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    h3 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .btn {
        margin-bottom: 8rem;
    }
}

.news-letter {
    background-color: $color-text-primary;
    padding: 4rem;
    color: white;

    .horizontal-line-main {
        width: 80px;
        background-color: $color-white;
        height: 5px;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    h1 {
        font-size: 3rem;
    }

    .input {
        padding: 0.7rem 2rem;
        font-size: 1rem;
        width: 300px;
        outline: none;
        margin: 0;
        color: gray;
        border: none;
        border-radius: 40px 0 0 40px;
    }
    .submit-button {
        color: white;
        background-color: $color-tertiary;
        font-size: 1rem;
        padding: 0.7rem 2rem;
        outline: none;

        border: none;
        margin: 0;
        border-radius: 0 40px 40px 0;
    }
}

footer {
    background-color: $color-tertiary;
    p {
        font-size: 1.05rem;
    }

    .icons > a > i {
        color: white;
        font-size: 2rem;
        margin-right: 1rem;
        text-decoration: none;
    }

    .useful-links > p > a {
        text-decoration: none;
        color: $color-fourth;
    }
}
