

/*-------------------------------------*/
.our-team {
    /*background-color: #a75820;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;



}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
.container1:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /*transform: scale(0.97);*/
}




.team-members{
    margin-top: -50px !important;
    padding-top: 0px !important;
    /*background-color: bisque;*/
}

.container1 .card {
    width: 30vh;
    height: 30vh;

    /*height: 516px;*/
    /*padding: 60px;*/
    margin: 10px;

    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
    -0.5em -0.5em 1em #ffffff;
    border-radius: 5px;
    border: none !important;

}

.container1 .card-min {
    width: 18vh;
    height: 18vh;
    border-radius: 100px !important;



    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
    -0.5em -0.5em 1em #ffffff;

    border: none !important;

}
.card-team {
    width: 330px;
    height: 516px;
    padding: 60px;
    margin: 10px;

    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
    -0.5em -0.5em 1em #ffffff;
    border-radius: 5px;
    border: none !important;
    background-image: url("assets/images/women1.jpg") !important;

}

.container1 .card .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container1 .card .content-box .imgbx {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
}

.container1 .card .content-box .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0.6em 0.6em 1.2em rgba(99, 127, 76, 0.42),
    -0.5em -0.5em 1em #ffffff;
    border-radius: 5px;
}
.container1 .card .content-box h4{
    color: #637f4c;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.container1 .card .content-box h5{
    color: #6c758f;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


.container1 .card .content-box .sci a:hover{
    color:#637f4c;
}
.mail-clr{
    color: #637F4C;
    text-decoration: none;
    /*font-size: 10px;*/
}
.mail-clr:hover{
    color:#bc6324;
    text-decoration: underline;
}
.container1 .card .content-box p{
    color: #6c758f;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: justify;
}



/*--------------------------------*/

.projects{
    padding: 100px 0;
}
.project-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.p-card{
    min-height: 370px;
    width: 370px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

/*----------------------*/
.team-name-lg{
    color: #637F4C !important;
}
.team-dis-lg{
    font-size: 1rem;
}

.trainer-name{
    font-size: 1.5rem;
}
.trainer-designation{
    font-size: 1rem;
    color: #637F4C;
}
.trainer-company{
    font-size: 0.9rem;
}
.trainers{
    font-weight: bold;
    color: #bc6324 !important;
    font-size: 2.5rem !important;
    margin-bottom: 0;

}
.read-more{
    font-size: 1rem;
    color: #bc6324;
    float: left;
    text-decoration: none;
}
.read-more:hover{
    color:#637F4C;
}
#more {display: none;}