.horizontal-line {
    width: 80px;
    background-color: #637F4C;
    height: 5px;
    margin: auto;
    margin-bottom: 2rem;
}
.our-training {
    margin-top: 6rem;
}

.our-training h1 {
    font-size: 3rem;
    color: #637F4C;
    margin-bottom: 2rem;
}


.our-trainingP {
    font-size: 1.2rem;
    margin-bottom: 4rem;
}



/*==================*/
.training-body {
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

.img1 {
    height: 100%;
    width: 40%;
    border-radius: 5px;
    box-shadow: 4px 4px 25px 5px rgba(0, 0, 0, 0.25);
}

.btn-contactus{
    border-radius: 3px !important;
    width: 100%;
    padding: 0.3rem 0.5rem;
margin-right: 50%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #637F4C !important;
    border: #637F4C 2px solid!important;
}
.btn-contactus:hover{
    color: white !important;
    background-color: #637F4C !important;

}
.btn-readMore{
    border-radius: 10px !important;
    width: 20%;
    padding: 0.6rem 0rem;
    margin-right: 5%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #6c758f !important;
}

.btn-readMore:hover{
    color: #637F4C !important;
    background-color: unset !important;

}
.fonts-para{
    /*background-color: #a75820;*/
    font-size: 1rem;
}
.fonts-date{
    /*background-color: #a75820;*/
    font-size: 0.8rem;

}
.fonts-topic{
    /*background-color: #a75820;*/
    font-size: 2rem;
    color: #637F4C;
}

input[type="checkbox"]:checked + .check { opacity: 1; }

.btn-seeMore-l{
    border-radius: 10px !important;
    width: 40%;
    padding: 0.2rem 0.2rem;

    outline: none;
    border: none;
    font-size: 0.8rem;
    color: #6c758f !important;
}
.btn-seeMore-l:hover{
    background-color: white !important;
    border: #637F4C 0px solid!important;
    color: #637F4C !important;
    border-radius: unset !important;
}
.fonts-topic-recent{
    /*background-color: #a75820;*/
    font-size: 1rem;
}
.horizontal-separator {
    width: 90%;
    background-color: #637F4C;
    height: 2px;
    margin: auto;
    margin-bottom: 1rem;
}

/*=========pagination========*/



.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.container {
    /*margin-top: 100px*/
}

.pagination,
.jsgrid .jsgrid-pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem
}
.our-training{
    background-color: unset!important;
}


.page-link {
    color: black
}

.pagination.pagination-flat .page-item{
    margin: 0 .25rem;
}

.pagination-success .page-item.active .page-link, a {

}

.active1{
    background-color: #637F4C !important;

    border-color:#637F4C!important;
}

.designation{
    font-size: 1rem;
}

/*----------------------============-----------------*/
.icons1{

    color:#bc6324;
    font-size: 25px;
    margin-right: 2%;
}
.icons1:hover{
    color: #637F4C;
}
.bg-clr{
   background-color:  #f4f5f5;
}

@media (max-width: 767px) {
    .img1 {
        /*height: 50vh;*/
        /*width: 30vw;*/
        height: 100%;
        width: 100%;
        /*margin-bottom: 5vh;*/

    }
    .media-body{
        margin-top: 5vh;
    }
    .fonts-para{
        width: 100% !important;
    }
}